<p>&#160;</p>
<aside style="width: 30%; padding-left: 0.5rem; margin-left: 0.5rem; float: right; border-left: solid 2px #1867b7; font-style: italic; color: #1867b7">
  <p style="font-size: inherit; font-family: 'Lato', sans-serif; margin: 0.5rem">
    [Aside] <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ligula diam, suscipit eget malesuada quis, feugiat nec urna.
  </p>
</aside>

<p style="font-family: 'Lato', sans-serif; font-size: 14px">
  [Texto] <br />
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ligula diam, suscipit eget malesuada quis, feugiat nec urna. Ut eget ex eu enim gravida
  tempor. Fusce porta dapibus turpis sit amet gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque suscipit
  neque nulla, quis feugiat elit efficitur vel. Donec lacinia ipsum quis lobortis tincidunt.
</p>
<p>&#160;</p>
