<p>&#160;</p>
<div>
  <div style="display: flex">
    <div style="padding: 5px">
      <h3 style="color: #000000; font-size: 2em; font-weight: bold; margin: 10px">[Título]</h3>
      <p style="font-family: 'Lato', sans-serif; font-size: 14px; margin: 10px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ligula diam, suscipit eget malesuada quis, feugiat nec urna. Ut eget ex eu enim gravida
        tempor. Fusce porta dapibus turpis sit amet gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque
        suscipit neque nulla, quis feugiat elit efficitur vel. Donec lacinia ipsum quis lobortis tincidunt. Aenean euismod nulla ante, eu euismod orci dictum
        et. Aenean est est, scelerisque in leo in, auctor condimentum elit. Donec id diam non eros sollicitudin scelerisque.
      </p>
    </div>
    <div style="padding: 5px">
        <img src="images/imagen_prueba.jpg" alt="Imagen" style="height: 170px;" />
      </div>
  </div>
</div>
<p>&#160;</p>
